*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;
    height: 100%;
}
/* Menu hamburguer */
.linha{
     
    margin: 7px;
    border: 1px solid rgb(255, 254, 254);
    width: 25px;
}

.menu{
    cursor:pointer;
    padding: 15px;
    margin-left: 30px;
}
body {
    background-color: rgb(15,15,15);
}
#main {
        background-color: rgb(15,15,15);
}
.menu:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
/* Cabeçalho */
header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:black;
    padding: 20px;
    z-index: 2;
    
    
}

/* Ícones das redes socias */


.insta{
    width: 28px;
}
.social{
    margin-left: 15px;
}
/* Navbar */
li{
    display: flex;
    align-items: center;
   
    
}
.equipe{
    border-bottom:1px solid rgb(14, 13, 13);
}
li img{
    padding: 25px;
    cursor: pointer;
}

li:hover{
    background-color: rgb(190,153,58);
}
#navbar{
    
    position: fixed;
    z-index: 2;
    top: 0px;
    height: 100%;
    width: 350px;
    background-color: rgb(15,15, 15);
    
}

 a{
    text-decoration: none;
    color: white;
    width: 100%;
   
    padding: 20px;
}
p {
    color:white;
}

h3 {
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
    width: 100%;
    
    padding: 20px;
}
.hide{
    left: -350px;
    transition: 0.5s;
}
.show{
    transition: 0.5s;
    left:0px;
    
}
.active{
    background-color: rgb(190,153,58);
}

.active-2 {
    background-color: rgb(111,82,51);
}
.no-scroll2{
    overflow: hidden;
}

.link-container {
    cursor: pointer;
}
/* main */
main{
    height: 950px;
}
.info{
     position: relative;
     top: 100px;
    display: flex;
   width: 100%;
    justify-content: center;
    
  
}

.objetivo{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: rgb(255, 254, 254);
    
    
}

.sobre{
    width: 40%;
    margin-right: 50px;
    background-color: rgb(190,153,58);
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    z-index: 1;
   
    
}
.sobre h1{
    color: white;
}
.sobre p{
    color: white;
}
iframe{
    width: 100%;
    margin-top: 10px;
}
[data-anime]{
    opacity: 1;
}
/* Variaveis de animação*/
[data-anime="top"]{
    transform: translate3d(0px,-50px,0px);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,-6.5px,0px);
    transition: 0.8s;
}
[data]{
    opacity: 0;
}
[data="left"]{
   transform: translate3d(-50px,0px,0px);
}
[data].animation{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
    transition: 0.8s;
}
/* Footer*/
footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 50px;
}
footer div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    
}
footer{
    background-color: black;
   
   
    
    
}


footer div h1{
     margin-bottom: 1em;
     color: white;
}
[data-anime]{
    opacity: 0;
}
[data-anime="top"]{
    transform: translate3d(0px,-30px,0px);
}
[data-anime].anime{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
    transition: 0.5s;
}
@media (max-width:1440px){
   
    .sobre  {
        width: 100%;
        margin-right: 0;
        display: flex;
    }
   
      .objetivo {
          width: 100%;
          padding: 25px;
          display: flex;
          
      }
      .carousel .carousel-control-prev,
      .carousel .carousel-control-next {
        min-width: 15%;
        
      }

     header {
        position: absolute;
    }
}
@media (max-width:1000px){
  
    .sobre{
        width: 100%;
        margin-right: 0;
       
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .sobre p {
        font-size: 15px;
    }

    .objetivo {
        width: 100%;
      font-size: 15px;
      padding: 20px;
    }

   
    
    main{
        height: 1300px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer div h1{
        margin-bottom: 0em;
    }
    footer div{
        margin-bottom: 2em;
    }
  .carousel {
    width: 100%;
  }
  .carousel .carousel-control-prev,
.carousel .carousel-control-next {
  min-width: 25%;
  


}
    #navbar {
        width: 300px;
    }

    header {
        position: absolute;
    }
     
    #switch {
        width: 40px;
        height: 24px;
        margin-left: 10px;
      }
    
      .slider {
        border-radius: 24px;
      }
    
      .slider:before {
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
      }

 
}

@media (max-width: 320px) {

    .objetivo {
        width: 100%;
      font-size: 13px;
      padding: 15px;
    }
}




 


.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 10%;
  


}


  


.direitos2 {
    text-align: center;
    margin-top: 90%; /* ajuste conforme necessário */
    font: rgb(254,254,254);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .no-scroll {
    pointer-events: none;
  }

  .darken-mode {
    background-color: rgb(190,153,58);
  }


  
  #switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-left:10px;
   
  }
  
  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgb(111,82,51);
  }
  
  input:checked + .slider:before {
    transform: translateX(15px);
  }
